<div class="offset-1 my-3 row" >
    <div class="col-12"> 
    <button class="btn btn-success col-2 float-right"  routerLink="/customers/adding-product"><i class="fas fa-plus"></i> Add Product</button>
    
    </div>
  </div>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Creation date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="listProductTodo">
        <tr class="" *ngFor= "let todo of listProductTodo">
          <td>{{todo.id}}</td>
          <td>{{todo.name}}</td>
          <td>{{todo.description}}</td>
          <td>{{todo.quantity}}</td>
          <td>{{todo.price}}</td>
          <td>{{todo.createdAt | date : 'long'}}</td>
          <td>
            <button type="button"  class="btn btn-warning " [routerLink]="['/customers/updating-product',todo.id]">
              <i class="far fa-edit"></i> Update
            </button>
            <button type="button" class="btn btn-danger" style="color:black!important" (click)="delete(todo.id)"><i class="fa fa-trash"></i> Delete</button></td>
        </tr>
      </tbody>
    </table>