<div class="row my-3"> 
  <div class="offset-3 col-6" >
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control" id="email" placeholder="Type your email here" formControlName="email">
      </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Type your password here" formControlName="password">
    </div>  
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>
</div>