<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Modification</th>
    </tr>
  </thead>
  <tbody class="">
    <tr *ngFor= "let todo of listTodo;let i=index">
    <td>{{i+1}}</td>
    <td>{{todo.name}}</td>
    <td>{{todo.description}}</td>
    <td>
      <button type="button"  class="btn btn-warning " routerLink="/update/{{i}}">
        <i class="far fa-edit"></i> Update
      </button>
      <button type="button" class="btn btn-danger" (click)="delete(i)" style="color:black!important"><i class="fa fa-trash"></i> Delete</button></td>
  
  </tr>
  </tbody>
  
</table>