<div class="row"> 
  <div class="offset-3 col-6 my-3">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Type your First Name here" formControlName="firstName" 
      [ngClass]="{'is-invalid': submitted && registerForm.controls.firstName.errors, 'is-valid': submitted && !registerForm.controls.firstName.errors }">
    <div class="invalid-feedback d-block" *ngIf="submitted && registerForm.controls.firstName.hasError('required')">
      The First Name is required.
    </div>
    </div>
    <div class="form-group">
      <label for="LastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Type your Last Name here" formControlName="lastName" 
      [ngClass]="{'is-invalid': submitted && registerForm.controls.lastName.errors, 'is-valid': submitted && !registerForm.controls.lastName.errors }">
      <div class="invalid-feedback d-block" *ngIf="submitted && registerForm.controls.lastName.hasError('required')">
        The Last Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Type your email here" formControlName="email" 
      [ngClass]="{'is-invalid': submitted && registerForm.controls.email.errors, 'is-valid': submitted && !registerForm.controls.email.errors }">
      <div class="invalid-feedback d-block">
        <div *ngIf="submitted && registerForm.controls.email.hasError('required')"> The email is required.</div> 
        <div *ngIf="submitted && registerForm.controls.email.hasError('email')"> The email is invalid.</div>
        <div *ngIf="submitted && registerForm.controls.email.hasError('forbiddenEmail')"> The email is not valid</div>
      
      </div>
      
    </div>
    <div class="form-group">
      <label for="emailConfirmation">Email confirmation</label>
      <input type="email" class="form-control" id="emailConfirmation" placeholder="Type your email confirmation here" formControlName="emailConfirmation" 
      [ngClass]="{'is-invalid': submitted && registerForm.controls.emailConfirmation.errors, 'is-valid': submitted && !registerForm.controls.emailConfirmation.errors }">
      <div class="invalid-feedback d-block">
        <div *ngIf="submitted && registerForm.controls.emailConfirmation.hasError('required')"> The email confirmation is required.</div> 
        <div *ngIf="submitted && registerForm.controls.emailConfirmation.hasError('email')"> The email confirmation is invalid.</div>
        <div  *ngIf="submitted && registerForm.hasError('mismatch')">Email does not match</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Type your Password here " formControlName="password" 
      [ngClass]="{'is-invalid': submitted && registerForm.controls.password.errors, 'is-valid': submitted && !registerForm.controls.password.errors }">
      <div class="invalid-feedback d-block">
        <div  *ngIf="submitted && registerForm.controls.password.hasError('required')">The password is required.</div> 
        <div  *ngIf="submitted && registerForm.controls.password.hasError('minlength')">The password must be more than 8 caracters.</div> 
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirmation">Password confirmation</label>
      <input type="password" class="form-control" id="passwordConfirmation" placeholder="Type your password here " formControlName="passwordConfirmation" 
      [ngClass]="{'is-invalid': submitted && registerForm.controls.passwordConfirmation.errors, 'is-valid': submitted && !registerForm.controls.passwordConfirmation.errors }">
      <div class="invalid-feedback d-block">
        <div  *ngIf="submitted && registerForm.controls.passwordConfirmation.hasError('required')">The password is required.</div> 
        <div  *ngIf="submitted && registerForm.controls.passwordConfirmation.hasError('minlength')">The password must be more than 8 caracters.</div> 
        <div  *ngIf="submitted && registerForm.hasError('mismatch')">Password does not match</div>
      </div>
    </div>
    <button type="submit"  class="btn btn-primary btn-block" >Register</button>
    <!-- <button type="submit"  class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Register</button> -->
  </form>
</div>
</div>
  
  
  